# ================================
# Variables de entorno del proyecto
# Copiar este archivo como .env y ajustar valores
# ================================

# Base de Datos
DB_NAME=eitek
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_SHOW_SQL=false

# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=3000
