# Configuración de la aplicación
APP_NAME=IncidentsManager
SERVER_PORT=8080

# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eitek
DB_USER=postgres
DB_PASSWORD=postgres

# Configuración de JPA/Hibernate
# Opciones: create, create-drop, update, validate, none
DB_DDL_AUTO=update
DB_SHOW_SQL=true

# Configuración de inicialización SQL
# Opciones: always, never, embedded
SQL_INIT_MODE=always
